# CHARGING DETAIL RECORDS

In this notebook we will do some **_data cleaning_** and **_exploratory data analysis_** on the CDR dataset, part of the full dataset provided for the FreeToX project. CDR stands indeed for Charging Detail Records. 

# TASK 1
Our goal for now is to **_understand the data_** after appropriately cleaning it and **_define the buyer persona_** on a behavioural perspective.

We start by uploading the libraries we will be using and opening the dataset, while taking a glimpse at the most essential information (such as number of entries, number of columns, types and null values) using the *.info()* function and at the dataset itself using the *.head()* function.

In [147]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

cdr_og = pd.read_csv('/Users/claudiacortese/Desktop/py/cdr.csv')


print(cdr_og.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 25 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   CDR ID                                  300000 non-null  int64
 1   EVSE ID                                 300000 non-null  object
 2   Operatore                               300000 non-null  object
 3   Potenza (kW)                            300000 non-null  float64
 4   Station Nome                            300000 non-null  object
 5   Station Città                           300000 non-null  object
 6   Station Indirizzo                       300000 non-null  object
 7   Data inizio                             300000 non-null  object
 8   Ora inizio                              300000 non-null  object
 9   Data fine                               300000 non-null  object
 10  Ora fine                                300000 non-null  object
 11  Ricavi totali (€) (IVA esclusa)         300000 non-null  float64
 12  Ricavi Energia (€) (IVA esclusa)        300000 non-null  float64
 13  Energia (kWh)                           300000 non-null  float64
 14  Ricavi Penalty Time (€) (IVA esclusa)   300000 non-null  float64
 15  Tempo Totale (min)                      300000 non-null  int64
 16  Inizio penalty time                     300000 non-null  int64
 17  Contachilometri (Km)                    300000 non-null  object
 18  Auth ID                                 293447 non-null  object
 19  Auth ID.1                               300000 non-null  object
 20  Partner session ID                      300000 non-null  object
 21  Auth method                             300000 non-null  object
 22  Tipo di presa                           300000 non-null  object
 23  EMI3 ID                                 262960 non-null  object
 24  Type Status                             300000 non-null  object
dtypes: float64(5), int64(3), object(17)
memory usage: 57.2+ MB
None

In [148]:
#with this cell we are adjusting the pandas display options in order to see all the columns displayed in the next cell
pd.set_option('display.max_columns', None)

In [149]:
cdr_og.head()

,CDR ID,EVSE ID,Operatore,Potenza (kW),Station Nome,Station Città,Station Indirizzo,Data inizio,Ora inizio,Data fine,Ora fine,Ricavi totali (€) (IVA esclusa),Ricavi Energia (€) (IVA esclusa),Energia (kWh),Ricavi Penalty Time (€) (IVA esclusa),Tempo Totale (min),Inizio penalty time,Contachilometri (Km),Auth ID,Auth ID.1,Partner session ID,Auth method,Tipo di presa,EMI3 ID,Type Status
0,813476,IT*F2X*EF2XITA2001*2,IT*EVY,300.0,Area di Servizio - Arda Est,Casa Nuova,A1 - Autostrada del Sole,2023-10-20,21:05:40,2023-10-20,21:22:15,0.00,0.00,31.812,0.0,16,0,-,NaN,ITEVYCZJQ2P15XK,8e97e9e5-ae3a-4547-8404-acaebf61162f,AUTH_REQUEST,COMBO,IT*ASP,public
1,899258,IT*F2X*EF2XITMXPC02*2,IT*EVY,300.0,Aeroporto - Malpensa Commerciale,Ferno,Malpensa Aeroporto,2024-01-16,08:24:33,2024-01-16,08:46:23,1.20,1.20,1.772,0.0,21,0,-,-,044265F2594A80,2df812f6-19a1-4a0f-9c45-61467e7b482a,AUTH_REQUEST,COMBO,IT*ASP,public
2,939082,IT*F2X*EF2XITB5102*1,IT*GES,300.0,Area di Servizio - Teano Ovest,Teano,Autostrada A1- Direzione Napoli Km 708,2023-07-01,02:02:27,2023-07-01,02:27:36,30.00,30.00,44.116,0.0,25,0,-,-,ITGESC2303SN7NP,a6b0b745-84f1-4c76-a534-d591425853da,AUTH_REQUEST,COMBO,IT*ASP,public
3,939083,IT*F2X*EF2XITA3001*2,DE*DMB,300.0,Area di Servizio - Secchia Est,Modena,Autostrada del Sole,2023-07-01,02:04:36,2023-07-01,02:11:01,7.93,7.93,11.656,0.0,6,0,-,-,DE-DMB-C00306779-0,1fa3b06c-ab5c-49c7-bd01-f48ca89cae19,AUTH_REQUEST,COMBO,IT*ASP,public
4,939084,IT*F2X*EF2XITLINC02*2,IT*BEC,300.0,Aeroporto - Linate Commerciale,Milano,Aeroporto Linate Commerciale,2023-07-01,02:08:22,2023-07-01,02:34:55,18.98,18.98,27.912,0.0,26,0,-,-,IT-BEC-C9121UFPU-L,2d76bf52-4bc9-4d4a-8d2d-8753465a319d,AUTH_REQUEST,COMBO,IT*ASP,public

In [150]:
cdr_og.isnull().sum()

CDR ID                                        0
EVSE ID                                       0
Operatore                                     0
Potenza (kW)                                  0
Station Nome                                  0
Station Città                                 0
Station Indirizzo                             0
Data inizio                                   0
Ora inizio                                    0
Data fine                                     0
Ora fine                                      0
Ricavi totali (€) (IVA esclusa)               0
Ricavi Energia (€) (IVA esclusa)              0
Energia (kWh)                                 0
Ricavi Penalty Time (€) (IVA esclusa)         0
Tempo Totale (min)                            0
Inizio penalty time                           0
Contachilometri (Km)                          0
Auth ID                                    6553
Auth ID.1                                     0
Partner session ID                            0
Auth method                                   0
Tipo di presa                                 0
EMI3 ID                                   37040
Type Status                                   0
dtype: int64

We notice how the only two columns with NaN values are **Auth ID** and **EMI3 ID**, with respectively 6553 and 37040 NaN values, which do not represent a big percentage out of the 300000 total values, and can therefore just be dropped. 

On top of that, these two columns represent the _'ID used to authenticate the charging session'_ and _'Identifier for the charging infrastructure according to the EMI3 standard'_.
Therefore they might not be useful anyway to identify the buyer personas.

We also noticed from the .head() output that the columns 'Contachilometri (Km)' and 'Auth ID' have '-' values. Therefore, it's appropriate to see what kind of values do the columns have, not only to find these types of values but also to highlight outliers and overall better understand the data.

In [151]:
for column in cdr_og:
    print(cdr_og[column].value_counts())

813476     1
1506472    1
1506504    1
1506503    1
1506500    1
          ..
1159662    1
1159661    1
1159659    1
1159658    1
1766361    1
Name: CDR ID, Length: 300000, dtype: int64
IT*F2X*EF2XITA3001*1     2618
IT*F2X*EF2XITA2002*1     2337
IT*F2X*EF2XITA2002*2     2307
IT*F2X*EF2XITA2001*1     2294
IT*F2X*EF2XITD5102*1     2246
                         ...
IT*F2X*EF2XITW3051*2        3
IT*F2X*EF2XITA2551*2        2
IT*F2X*EITDGRM00001*1       2
IT*F2X*EF2XITO2051*1        2
IT*F2X*EF2XITB5751*2        1
Name: EVSE ID, Length: 681, dtype: int64
IT*ENE    75816
IT*BEC    73743
IT*AES    30017
DE*DCS    25142
IT*GES    17873
          ...
IT-FLY        1
FR*STE        1
NO-NEF        1
IT-KIW        1
FR*BOL        1
Name: Operatore, Length: 83, dtype: int64
300.0    270992
62.5      11453
22.0      10986
400.0      5513
150.0       948
50.0        108
Name: Potenza (kW), dtype: int64
Aeroporto - Linate Commerciale                    14091
Area di Servizio - Secchia Est                    10703
Area di Servizio - Arda Est                        9522
Area di Servizio - Valtrompia Nord                 7574
Area di Servizio - Valtrompia Sud                  6947
                                                  ...
Area di Servizio - Cittadella                       155
Area di Servizio - Canne della Battaglia ovest      153
Aeroporto - Malpensa 4                              132
Area di Servizio - Gargano Est                       61
F2X - ASPI Direzione Generale ROMA 1                  2
Name: Station Nome, Length: 112, dtype: int64
Modena                       16216
Milano                       15576
Roncadelle                   14521
Caponago                     11782
Melegnano                    11237
                             ...
Colloredo di Monte Albano      454
Pozzuoli                       359
Somma Lombardo                 335
Foggia                         298
Casoria                        155
Name: Station Città, Length: 64, dtype: int64
A1 - Autostrada del Sole                  57053
Autostrada del Sole                       43430
Autostrada Adriatica                      27637
A4 Torino - Trieste                       27149
A14 - Autostrada Adriatica                25572
Aeroporto Linate Commerciale              14091
A9 Autostrada dei laghi                   10418
A13 Bologna - Padova                      10213
A26 - Autostrada dei Trafori               8456
Autostrada dei laghi                       7409
A1  Autostrada del Sole                    6636
A12 Autostrada Azzurra                     5662
A26 Autostrada dei Trafori                 5515
Malpensa Aeroporto                         5171
Autostrada A1- Direzione Napoli Km 708     4755
Sesto Fiorentino                           4468
A27 - Autostrada d'Alemagna                4041
A12 civitavecchia - Roma                   3624
A1 var. - Variante di Valico               3247
Autostrada dei due Mari                    3229
A56                                        2799
A16 Autostrada dei due Mari                2791
Autostrada dei fiori                       2725
Autostrada Firenze-Mare                    2673
A13, Bologna - Padova                      2215
Torino - Trieste                           1950
A7 - Autostrada dei Giovi                  1921
Aeroporto Linate - Arrivi                  1123
A23 Autostrada Palmanova-Tarvisio           983
A4 Torino - Venezia                         782
A1, Milano - Napoli                         651
A16 - Autostrada dei Due Mari               553
Viale dell'Aviazione                        362
A56 Ramo Capodichino                        359
Aeroporto Milano Malpensa PRIME             335
Via Alberto Bergamini                         2
Name: Station Indirizzo, dtype: int64
2024-03-29    2113
2023-07-29    2070
2023-08-12    2061
2024-03-28    1998
2023-08-26    1977
              ...
2024-02-06     891
2024-02-05     888
2023-07-04     877
2023-10-24     864
2023-12-01      19
Name: Data inizio, Length: 244, dtype: int64
13:20:29    17
10:51:16    17
18:08:17    17
10:35:04    16
14:57:50    16
            ..
22:15:13     1
22:40:12     1
22:53:04     1
23:13:48     1
19:05:35     1
Name: Ora inizio, Length: 71006, dtype: int64
2024-03-29    2122
2023-07-29    2079
2023-08-12    2065
2024-03-28    1990
2023-08-26    1980
              ...
2024-02-06     893
2024-02-05     889
2023-07-04     877
2023-10-24     863
2023-12-01      30
Name: Data fine, Length: 244, dtype: int64
14:33:41    17
10:40:24    17
13:24:23    17
12:22:05    17
17:24:07    16
            ..
02:53:36     1
02:11:25     1
02:31:25     1
02:05:07     1
20:50:02     1
Name: Ora fine, Length: 70935, dtype: int64
0.00      1897
15.00      140
14.76      135
12.37      135
20.47      134
          ...
65.25        1
66.93        1
150.39       1
57.04        1
62.12        1
Name: Ricavi totali (€) (IVA esclusa) , Length: 6200, dtype: int64
0.00      1897
15.00      140
14.76      135
12.37      135
20.47      134
          ...
65.25        1
66.93        1
150.39       1
57.04        1
62.12        1
Name: Ricavi Energia (€) (IVA esclusa) , Length: 6200, dtype: int64
0.001     414
25.392     41
22.064     40
30.048     40
30.096     40
         ...
66.567      1
43.655      1
40.979      1
87.106      1
67.056      1
Name: Energia (kWh), Length: 59198, dtype: int64
0.0    300000
Name: Ricavi Penalty Time (€) (IVA esclusa) , dtype: int64
20     8725
21     8546
22     8541
19     8525
18     8505
       ...
554       1
285       1
307       1
430       1
388       1
Name: Tempo Totale (min), Length: 357, dtype: int64
0    300000
Name: Inizio penalty time, dtype: int64
-            299980
58916.00          2
59705.00          2
59909.00          2
60034.00          2
60296.00          2
60750.00          2
61206.00          2
61415.00          2
74310.00          1
75351.00          1
64603.00          1
108000.00         1
Name: Contachilometri (Km), dtype: int64
-        293445
LOCAL         2
Name: Auth ID, dtype: int64
54229                 1492
045BC4FA7E6B81         903
04BCF7827E6B80         894
TEMP_UID               519
IT-BEC-CCSROK0AN-K     356
                      ...
IT*DCS*000IKU*1          1
IT-BEC-CPMXFH74T-6       1
ITEVYCVEVZ37YXA          1
72118                    1
ITGESC210376Y04          1
Name: Auth ID.1, Length: 84057, dtype: int64
8e97e9e5-ae3a-4547-8404-acaebf61162f    1
6e909f30-e80f-435d-b441-3d07a8e69cde    1
28ff195a-6b41-4eee-a3c3-ba83e81e02a6    1
ab7efe3d-2f1d-4200-ad9b-8b1dd848e748    1
a3220063-0952-487f-a95a-823ff0996cef    1
                                       ..
3cac6877-31da-4257-8137-a37e7f77e55a    1
dd93ca24-d514-436e-8f9c-c5689c6dc743    1
8c8a73d6-860e-4e38-8742-9570437c865b    1
c819065a-3f4e-459f-a508-2f3a9b86ca22    1
0cf192c2-1890-4a1d-849b-81c231817fdc    1
Name: Partner session ID, Length: 300000, dtype: int64
AUTH_REQUEST    300000
Name: Auth method, dtype: int64
COMBO      286220
TYPE 2      10986
CHADEMO      2794
Name: Tipo di presa, dtype: int64
IT*ASP             262241
N3B9JVL                26
L2ELR5X3               17
IT-TNM-026535-2        14
R2BNS59                10
                    ...
IT-TNM-026632-2         1
N3B8MD5                 1
1CUFRFX                 1
IT-TNM-037318-1         1
IT-TNM-037435-0         1
Name: EMI3 ID, Length: 321, dtype: int64
public    299921
-             79
Name: Type Status, dtype: int64

We can see that **'Ricavi Penalty Time'**, earnings from penalty time, is equal to 0 for each row, which is not giving us any info other than no one was charged a penalty, if penalties were applied. _Therefore we can drop this column._


Same reasoning goes for **'Inizio Penalty Time'**, beginning of penalty time, which is equal to 0 for all the rows. 


The row **'Contachilometri (Km)'** has only 20 real values different from '-', which are not enough to be analyzed and understood in the perception of the buyer persona, therefore it's only reasonable to drop the column as well.


We adopt the same approach for **'Auth ID'** as well, since only 2 values are not '-'. 


We will drop columns **'Auth ID', 'Auth ID.1' and 'Partner Session ID'** because by definition they don't contribute in any way to the definition of the buyer persona on a behavioural perspective. Let's see their descriptions to better understand our decision:
_Auth ID_: ID used to authenticate the charging session.
_Auth ID.1_: Alternative or additional authentication ID, if applicable.
_Partner Session ID_: Session ID provided by the roaming partner or external network.


**'Auth method'** displays 300.000 AUTH_REQUEST, which either means that the same authentication method was used for the 300.000 charges or simply there was something wrong in the detection phase. Either way, we can take note of this information, but at the same time it won't be useful for the clustering since it stays the same for every record.


The column **'EMI3 ID'** _can also be dropped_ since it detects the 'Identifier for the charging infrastructure according to the EMI3 standard'. Once again, this piece of information is not relevant to our study.


The last column, **'Type Status'**, is also irrelevant to the study, since it describes the type of Charging Point, which is clearly public for every record since all the charges recorded were done in FreeToX charging stations. Therefore, we can also drop this column.

We also check for duplicates in the _'CDR ID'_ column to see if any record was mistakenly duplicated/noted twice.

In [152]:
print (cdr_og.duplicated('CDR ID').sum())

0

Once we established that there are no duplicates, we can proceed to drop the columns that are not relevant to our study.

In [153]:
#we first make a copy of cdr since this info we're deleting might be useful later in the project
cdr = cdr_og.copy()

In [154]:
#I wasn't initially able to drop the columns due to a KeyError related to the Ricavi Penalty Time (€) (IVA esclusa) column. 
# Thanks to this cell I found out that the column name actually included a space that I didn't know was there and wouldn't let me drop the columns.
cdr.columns

Index(['CDR ID', 'EVSE ID', 'Operatore', 'Potenza (kW)', 'Station Nome',
       'Station Città', 'Station Indirizzo', 'Data inizio', 'Ora inizio',
       'Data fine', 'Ora fine', 'Ricavi totali (€) (IVA esclusa) ',
       'Ricavi Energia (€) (IVA esclusa) ', 'Energia (kWh)',
       'Ricavi Penalty Time (€) (IVA esclusa) ', 'Tempo Totale (min)',
       'Inizio penalty time', 'Contachilometri (Km)', 'Auth ID', 'Auth ID.1',
       'Partner session ID', 'Auth method', 'Tipo di presa', 'EMI3 ID',
       'Type Status'],
      dtype='object')

In [156]:
cdr = cdr.drop( columns = ['CDR ID', 'Ricavi Energia (€) (IVA esclusa) ', 'Inizio penalty time', 'Contachilometri (Km)', 'Ricavi Penalty Time (€) (IVA esclusa) ', 'Auth ID', 'Auth ID.1', 'Partner session ID', 'Auth method', 'EMI3 ID', 'Type Status'])
cdr

,EVSE ID,Operatore,Potenza (kW),Station Nome,Station Città,Station Indirizzo,Data inizio,Ora inizio,Data fine,Ora fine,Ricavi totali (€) (IVA esclusa),Energia (kWh),Tempo Totale (min),Tipo di presa
0,IT*F2X*EF2XITA2001*2,IT*EVY,300.0,Area di Servizio - Arda Est,Casa Nuova,A1 - Autostrada del Sole,2023-10-20,21:05:40,2023-10-20,21:22:15,0.00,31.812,16,COMBO
1,IT*F2X*EF2XITMXPC02*2,IT*EVY,300.0,Aeroporto - Malpensa Commerciale,Ferno,Malpensa Aeroporto,2024-01-16,08:24:33,2024-01-16,08:46:23,1.20,1.772,21,COMBO
2,IT*F2X*EF2XITB5102*1,IT*GES,300.0,Area di Servizio - Teano Ovest,Teano,Autostrada A1- Direzione Napoli Km 708,2023-07-01,02:02:27,2023-07-01,02:27:36,30.00,44.116,25,COMBO
3,IT*F2X*EF2XITA3001*2,DE*DMB,300.0,Area di Servizio - Secchia Est,Modena,Autostrada del Sole,2023-07-01,02:04:36,2023-07-01,02:11:01,7.93,11.656,6,COMBO
4,IT*F2X*EF2XITLINC02*2,IT*BEC,300.0,Aeroporto - Linate Commerciale,Milano,Aeroporto Linate Commerciale,2023-07-01,02:08:22,2023-07-01,02:34:55,18.98,27.912,26,COMBO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,IT*F2X*EF2XITLINC01*2,NL-TNM,300.0,Aeroporto - Linate Commerciale,Milano,Aeroporto Linate Commerciale,2024-03-30,20:15:15,2024-03-30,20:47:20,33.21,48.840,32,COMBO
299996,IT*F2X*EF2XITA1101*2,NL-TNM,300.0,Area di Servizio - San Zenone al Lambro Ovest,Melegnano,A1 - Autostrada del Sole,2024-03-30,20:15:49,2024-03-30,20:50:02,32.40,47.648,34,COMBO
299997,IT*F2X*EF2XITB5101*1,DE*DCS,300.0,Area di Servizio - Teano Ovest,Teano,Autostrada A1- Direzione Napoli Km 708,2024-03-30,20:15:58,2024-03-30,20:25:49,12.64,18.592,9,COMBO
299998,IT*F2X*EF2XITB4551*1,IT*ENE,62.5,Area di Servizio - Casilina Est,Castrocielo,Autostrada del Sole,2024-03-30,20:18:13,2024-03-30,20:40:25,11.42,20.756,22,COMBO
299999,IT*F2X*EF2XITX5001*1,IT*ENE,300.0,Area di Servizio - Monferrato Est,Occimiano,A26 Autostrada dei Trafori,2024-03-30,20:18:19,2024-03-30,20:51:12,24.15,35.512,32,COMBO

Next, we start digging deeper into our analysis by looking for outliers. Let's start by checking if the start and end date are equal, keeping in mind that we would have to check if they do not coincide since it might also be the case of a charge started few minutes before midnight and finished after.

In [189]:
cdr['Data inizio'] = pd.to_datetime(cdr['Data inizio'])
cdr['Data fine'] = pd.to_datetime(cdr['Data fine'])

all(cdr['Data inizio']) == all(cdr['Data fine'])

True

Now we have acknowledged that the dates columns overlap perfectly, therefore there are no outliers or

In [157]:
cdr.to_csv('cdr_cleaned')