In [1]:
import pandas as pd

In [2]:
florence = pd.read_csv('C:/Users/devea/Desktop/dataset/T2/florence.csv')
milan = pd.read_csv('C:/Users/devea/Desktop/dataset/T2/milan.csv')
rome = pd.read_csv('C:/Users/devea/Desktop/dataset/T2/rome.csv')
catania = pd.read_csv('C:/Users/devea/Desktop/dataset/T2/catania.csv')
turin = pd.read_csv('C:/Users/devea/Desktop/dataset/T2/turin.csv')

In [4]:
big_city = pd.concat([catania, milan, rome],ignore_index=True)

In [10]:
big_city.to_csv('C:/Users/devea/Desktop/dataset/T2/BigCity.csv')

In [5]:
big_city

,geometry,EV_stations_counts,EV_stations_geomery,population,landuse,nodes,edges,density,oneway_exists,highway_types,...,place_of_worship_count,community_centre_count,townhall_count,parking_count,library_count,park_count,commercial_count,government_count,civic_count,retail_count
0,POLYGON ((494324.36910769687 4140139.900782528...,0,[],0.0,Other,0,0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,POLYGON ((494491.37794651155 4140530.022613017...,0,[],0.0,Other,0,0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,POLYGON ((494705.80941380473 4141022.185615587...,0,[],0.0,Other,0,0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"POLYGON ((494818.1755447965 4140037.859610446,...",0,[],0.0,Other,0,0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,POLYGON ((494818.17554479634 4141263.137357092...,0,[],0.0,Other,0,0,0.0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7419,POLYGON ((279712.88499382435 4665962.624067501...,0,[],0.0,Other,0,0,0.0,No,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7420,"POLYGON ((279936.8977891614 4667074.922709849,...",0,[],0.0,Other,0,0,0.0,No,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7421,"POLYGON ((279943.90517592826 4666956.66127452,...",0,[],0.0,Other,0,0,0.0,No,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7422,POLYGON ((276963.33554860845 4668444.681126864...,0,[],0.0,Other,0,0,0.0,No,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7423,"POLYGON ((276961.6290790918 4668447.717085045,...",0,[],0.0,Other,0,0,0.0,No,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
small_city = pd.concat([florence,turin],ignore_index=True)

In [11]:
small_city.to_csv('C:/Users/devea/Desktop/dataset/T2/SmallCity.csv')

In [7]:
small_city

,geometry,EV_stations_counts,EV_stations_geomery,population,landuse,nodes,edges,density,oneway_exists,highway_types,...,place_of_worship_count,community_centre_count,townhall_count,parking_count,library_count,park_count,commercial_count,government_count,civic_count,retail_count
0,POLYGON ((190197.79642455757 4855418.303914024...,0,[],0.055365,Other,0,0,0.000000,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,POLYGON ((190413.30977452965 4855690.313606118...,0,[],0.379845,Other,0,0,0.000000,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,POLYGON ((190657.83061832457 4856164.938966472...,0,[],1.814465,Other,4,5,0.416667,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"POLYGON ((190673.1779001825 4855179.05095902, ...",0,[],0.245168,Other,0,0,0.000000,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,POLYGON ((190637.60410776787 4854689.248399376...,0,[],0.219274,Other,0,0,0.000000,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1105,POLYGON ((-70940.66370983236 5021941.754257384...,0,[],0.011744,Other,4,7,0.583333,No,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1106,POLYGON ((-70637.16384388541 5022328.219177642...,0,[],0.279534,Other,0,0,0.000000,No,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1107,POLYGON ((-70529.70146135893 5021823.709363707...,0,[],0.014169,Other,0,0,0.000000,No,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1108,"POLYGON ((-70406.6998233085 5022370.586099741,...",0,[],0.033220,Other,0,0,0.000000,No,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1109,POLYGON ((-70224.18544081762 5022297.417056035...,0,[],0.013136,Other,0,0,0.000000,No,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
all_city = pd.concat([big_city,small_city],ignore_index=True)

In [12]:
all_city.to_csv('C:/Users/devea/Desktop/dataset/T2/AllCity.csv')

In [9]:
all_city

,geometry,EV_stations_counts,EV_stations_geomery,population,landuse,nodes,edges,density,oneway_exists,highway_types,...,place_of_worship_count,community_centre_count,townhall_count,parking_count,library_count,park_count,commercial_count,government_count,civic_count,retail_count
0,POLYGON ((494324.36910769687 4140139.900782528...,0,[],0.000000,Other,0,0,0.000000,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,POLYGON ((494491.37794651155 4140530.022613017...,0,[],0.000000,Other,0,0,0.000000,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,POLYGON ((494705.80941380473 4141022.185615587...,0,[],0.000000,Other,0,0,0.000000,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"POLYGON ((494818.1755447965 4140037.859610446,...",0,[],0.000000,Other,0,0,0.000000,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,POLYGON ((494818.17554479634 4141263.137357092...,0,[],0.000000,Other,0,0,0.000000,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8529,POLYGON ((-70940.66370983236 5021941.754257384...,0,[],0.011744,Other,4,7,0.583333,No,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8530,POLYGON ((-70637.16384388541 5022328.219177642...,0,[],0.279534,Other,0,0,0.000000,No,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8531,POLYGON ((-70529.70146135893 5021823.709363707...,0,[],0.014169,Other,0,0,0.000000,No,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8532,"POLYGON ((-70406.6998233085 5022370.586099741,...",0,[],0.033220,Other,0,0,0.000000,No,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8533,POLYGON ((-70224.18544081762 5022297.417056035...,0,[],0.013136,Other,0,0,0.000000,No,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0