In [3]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [1]:
import pandas as pd

In [7]:
gdf = pd.read_excel('task_3_dataset_enlarged.xlsx')

In [8]:
gdf.head()

     location     gpsLat    gpsLong
0  Location 1  45.099342   7.708655
1  Location 2  45.558440   9.240295
2  Location 3  45.568602   9.363047
3  Location 4  45.627761   8.712500
4  Location 5  41.924079  12.516347